In [12]:
import pandas as pd
import numpy as np

In [13]:
movies =pd.read_csv('Dataset/imdb-top-1000.csv')

In [14]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [15]:
movies.shape

(1000, 10)

In [35]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
Series_Title     1000 non-null object
Released_Year    1000 non-null object
Runtime          1000 non-null int64
Genre            1000 non-null object
IMDB_Rating      1000 non-null float64
Director         1000 non-null object
Star1            1000 non-null object
No_of_Votes      1000 non-null int64
Gross            1000 non-null float64
Metascore        843 non-null float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.2+ KB

In [17]:
movies['Genre'].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

In [8]:
movies.groupby('Genre')

In [18]:
movies[movies['Genre']=='Action']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [19]:
movies[movies['Genre']=='Comedy']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita Ã¨ bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
51,Modern Times,1936,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,217881,163245.0,96.0
52,City Lights,1931,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,167839,19181.0,99.0
64,3 Idiots,2009,170,Comedy,8.4,Rajkumar Hirani,Aamir Khan,344445,6532908.0,67.0
...,...,...,...,...,...,...,...,...,...,...
977,The Naked Gun: From the Files of Police Squad!,1988,85,Comedy,7.6,David Zucker,Leslie Nielsen,152871,78756177.0,76.0
978,"Planes, Trains & Automobiles",1987,93,Comedy,7.6,John Hughes,Steve Martin,124773,49530280.0,72.0
989,The Long Goodbye,1973,112,Comedy,7.6,Robert Altman,Elliott Gould,26337,959000.0,87.0
994,A Hard Day's Night,1964,87,Comedy,7.6,Richard Lester,John Lennon,40351,13780024.0,96.0
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0

In [20]:
movies.groupby('Genre')

In [21]:
movies.groupby('Genre').groups

{'Action': Int64Index([  2,   5,   8,  10,  13,  14,  16,  29,  30,  31,
             ...
             930, 931, 944, 951, 963, 968, 979, 982, 983, 985],
            dtype='int64', length=172),
 'Adventure': Int64Index([ 21,  47,  93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209,
             226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361,
             366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514,
             537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681,
             686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912,
             919, 947, 957, 964, 966, 984, 991],
            dtype='int64'),
 'Animation': Int64Index([ 23,  43,  46,  56,  58,  61,  66,  70, 101, 135, 146, 151, 158,
             170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330,
             332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469,
             499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640,
             643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771,
             783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956,
             971, 976, 986, 992],
            dtype='int64'),
 'Biography': Int64Index([  7,  15,  18,  35,  38,  54, 102, 107, 131, 139, 147, 157, 159,
             173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298,
             317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416,
             418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606,
             614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748,
             753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858,
             877, 882, 897, 910, 915, 923, 940, 949, 952, 987],
            dtype='int64'),
 'Comedy': Int64Index([ 19,  26,  51,  52,  64,  78,  83,  95,  96, 112,
             ...
             969, 970, 972, 973, 975, 977, 978, 989, 994, 995],
            dtype='int64', length=155),
 'Crime': Int64Index([  1,   3,   4,   6,  22,  25,  27,  28,  33,  37,
             ...
             922, 926, 938, 939, 954, 958, 960, 974, 980, 999],
            dtype='int64', length=107),
 'Drama': Int64Index([  0,   9,  11,  17,  20,  24,  32,  34,  36,  40,
             ...
             955, 962, 965, 981, 988, 990, 993, 996, 997, 998],
            dtype='int64', length=289),
 'Family': Int64Index([688, 698], dtype='int64'),
 'Fantasy': Int64Index([321, 568], dtype='int64'),
 'Film-Noir': Int64Index([309, 456, 712], dtype='int64'),
 'Horror': Int64Index([49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], dtype='int64'),
 'Mystery': Int64Index([69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], dtype='int64'),
 'Thriller': Int64Index([700], dtype='int64'),
 'Western': Int64Index([12, 48, 115, 691], dtype='int64')}

In [23]:
movies.groupby('Genre').get_group('Crime')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
6,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
22,Cidade de Deus,2002,130,Crime,8.6,Fernando Meirelles,KÃ¡tia Lund,699256,7563397.0,79.0
...,...,...,...,...,...,...,...,...,...,...
958,Funny Games,1997,108,Crime,7.6,Michael Haneke,Susanne Lothar,65058,217345863.0,69.0
960,Sleepers,1996,147,Crime,7.6,Barry Levinson,Robert De Niro,186734,49100000.0,49.0
974,The Godfather: Part III,1990,162,Crime,7.6,Francis Ford Coppola,Al Pacino,359809,66666062.0,60.0
980,Blood Simple,1984,99,Crime,7.6,Joel Coen,Ethan Coen,87745,2150000.0,82.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [25]:
movies.groupby('Genre').get_group('Family')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [26]:
movies.groupby('Genre').get_group('Western')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
115,Per qualche dollaro in piÃ¹,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [28]:
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values()

Genre
Family       7.800000
Thriller     7.800000
Comedy       7.901290
Horror       7.909091
Animation    7.930488
Adventure    7.937500
Biography    7.938636
Action       7.949419
Drama        7.957439
Film-Noir    7.966667
Mystery      7.975000
Fantasy      8.000000
Crime        8.016822
Western      8.350000
Name: IMDB_Rating, dtype: float64

In [29]:
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False)

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Drama        7.957439
Action       7.949419
Biography    7.938636
Adventure    7.937500
Animation    7.930488
Horror       7.909091
Comedy       7.901290
Thriller     7.800000
Family       7.800000
Name: IMDB_Rating, dtype: float64

In [32]:
# Find a movie having higher rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False).index[0]

'Western'

In [34]:
# Find a movie having lower rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False).index[-1]

'Family'

In [44]:
movies[movies.Released_Year=="1994"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
6,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
11,Forrest Gump,1994,142,Drama,8.8,Robert Zemeckis,Tom Hanks,1809221,330252182.0,82.0
42,LÃ©on,1994,110,Action,8.5,Luc Besson,Jean Reno,1035236,19501238.0,64.0
43,The Lion King,1994,88,Animation,8.5,Roger Allers,Rob Minkoff,942045,422783777.0,88.0
166,Andaz Apna Apna,1994,160,Action,8.2,Rajkumar Santoshi,Aamir Khan,49300,213351844.0,NaN
260,Trois couleurs: Rouge,1994,99,Drama,8.1,Krzysztof Kieslowski,IrÃ¨ne Jacob,90729,4043686.0,100.0
261,Chung Hing sam lam,1994,102,Comedy,8.1,Kar-Wai Wong,Brigitte Lin,63122,600200.0,77.0
519,Once Were Warriors,1994,102,Crime,7.9,Lee Tamahori,Rena Owen,31590,2201126.0,77.0
657,Ed Wood,1994,127,Biography,7.8,Tim Burton,Johnny Depp,164937,5887457.0,70.0
815,Il postino,1994,108,Biography,7.7,Michael Radford,Massimo Troisi,33600,21848932.0,81.0
816,Clerks,1994,92,Comedy,7.7,Kevin Smith,Brian O'Halloran,211450,3151130.0,70.0
967,Trois couleurs: Blanc,1994,92,Comedy,7.6,Krzysztof Kieslowski,Zbigniew Zamachowski,64390,1464625.0,88.0

In [119]:
movies.groupby('Series_Title')['Runtime'].max().sort_values(ascending = False)

Series_Title
Gangs of Wasseypur             321
Hamlet                         242
Gone with the Wind             238
Once Upon a Time in America    229
Lawrence of Arabia             228
                              ...
Duck Soup                       69
The Kid                         68
The General                     67
Freaks                          64
Sherlock Jr.                    45
Name: Runtime, Length: 999, dtype: int64

In [58]:
movies.groupby('Genre')['No_of_Votes'].sum()

Genre
Action       72282412
Adventure    22576163
Animation    21978630
Biography    24006844
Comedy       27620327
Crime        33533615
Drama        61367304
Family         551221
Fantasy        146222
Film-Noir      367215
Horror        3742556
Mystery       4203004
Thriller        27733
Western       1289665
Name: No_of_Votes, dtype: int64

In [59]:
movies.groupby('Genre')['No_of_Votes'].sum().sort_values(ascending = False).index[0:3]

Index(['Action', 'Drama', 'Crime'], dtype='object', name='Genre')

In [65]:
movies.groupby('Genre')['No_of_Votes'].sum().sort_values(ascending = False).index[-4:-1]

Index(['Family', 'Film-Noir', 'Fantasy'], dtype='object', name='Genre')

In [66]:
movies.groupby('Released_Year')['Runtime'].sum()

Released_Year
1920      76
1921      68
1922      94
1924      45
1925     170
        ...
2017    2675
2018    2434
2019    3039
2020     760
PG       140
Name: Runtime, Length: 100, dtype: int64

In [67]:
movies.groupby('Released_Year')['Runtime'].sum().sort_values(ascending = False).index[0:3]

Index(['2014', '2004', '2013'], dtype='object', name='Released_Year')

In [76]:
movies.groupby('Director')['Gross'].max().sort_values(ascending = False).head(3)

Director
J.J. Abrams      936662225.0
Ramesh Sippy     932069480.0
Dennis Gansel    924558264.0
Name: Gross, dtype: float64

In [78]:
movies.groupby('Director')['Gross'].sum().sort_values(ascending = False).index[0]

'Akira Kurosawa'

In [71]:
movies.groupby('Director')['Gross'].sum().sort_values(ascending = False).index[0:3]

Index(['Akira Kurosawa', 'Steven Spielberg', 'Hayao Miyazaki'], dtype='object', name='Director')

In [98]:
movies[movies.Genre =='Action']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [108]:
movies[movies.Genre =='Action'].groupby('Star1')['Star1'].count().sort_values(ascending = False).head(3)

Star1
Harrison Ford    5
Joe Russo        4
Tom Cruise       4
Name: Star1, dtype: int64

In [120]:
movies.groupby('Series_Title')['Runtime'].max().sort_values(ascending = False).head(3)

Series_Title
Gangs of Wasseypur    321
Hamlet                242
Gone with the Wind    238
Name: Runtime, dtype: int64

In [125]:
movies.sort_values(by = 'Runtime', ascending = False).head(3)['Series_Title']

140    Gangs of Wasseypur
812                Hamlet
314    Gone with the Wind
Name: Series_Title, dtype: object