<a href="https://colab.research.google.com/github/SajidMajeed92/HISB-Data-Science-AI/blob/main/working%20with%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Data Loading

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import os

# Set the search parameters
filename = 'SalesData.xlsx'
search_path = '/content/drive/My Drive'

# Search for the file
for root, dirs, files in os.walk(search_path):
    if filename in files:
        file_path = os.path.join(root, filename)
        break

In [18]:
# Load the XLSX file into a DataFrame
import pandas as pd

df = pd.read_excel('/SaleData.xlsx')

In [19]:
df

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.00,1198.000,113810.00
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.00,500.000,25000.00
2,2018-02-09,Central,Hermann,Luis,Television,36.00,1198.000,43128.00
3,2018-02-26,Central,Timothy,David,Cell Phone,27.00,225.000,6075.00
4,2018-03-15,West,Timothy,Stephen,Television,56.00,1198.000,67088.00
5,2018-04-01,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
6,2018-04-18,Central,Martha,Steven,Television,75.00,1198.000,89850.00
7,2018-05-05,Central,Hermann,Luis,Television,90.00,1198.000,107820.00
8,2018-05-22,West,Douglas,Michael,Television,32.00,1198.000,38336.00
9,2018-06-08,East,Martha,Alexander,Home Theater,60.00,500.000,30000.00
10,2018-06-25,Central,Hermann,Sigal,Television,90.00,1198.000,107820.00
11,2018-07-12,East,Martha,Diana,Home Theater,29.00,500.000,14500.00
12,2018-07-29,East,Douglas,Karen,Home Theater,81.00,500.000,40500.00
13,2018-08-15,East,Martha,Alexander,Television,35.00,1198.000,41930.00
14,2018-09-01,Central,Douglas,John,Desk,2.00,125.000,250.00
15,2018-09-18,East,Martha,Alexander,Video Games,16.00,58.500,936.00
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28.00,500.000,14000.00
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.00,225.000,14400.00
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.00,225.000,3375.00
19,2018-11-25,Central,Hermann,Shelli,Video Games,96.00,58.500,5616.00
20,2018-12-12,Central,Douglas,John,Television,67.00,1198.000,80266.00
21,2018-12-29,East,Douglas,Karen,Video Games,74.00,58.500,4329.00
22,2019-01-15,Central,Timothy,David,Home Theater,46.00,500.000,23000.00
23,2019-02-01,Central,Douglas,John,Home Theater,87.00,500.000,43500.00
24,2019-02-18,East,Martha,Alexander,Home Theater,4.00,500.000,2000.00
25,2019-03-07,West,Timothy,Stephen,Home Theater,7.00,500.000,3500.00
26,2019-03-24,Central,Hermann,Luis,Video Games,50.00,58.500,2925.00
27,2019-04-10,Central,Martha,Steven,Television,66.00,1198.000,79068.00
28,2019-04-27,East,Martha,Diana,Cell Phone,96.00,225.000,21600.00
29,2019-05-14,Central,Timothy,David,Television,53.00,1198.000,63494.00
30,2019-05-31,Central,Timothy,David,Home Theater,80.00,500.000,40000.00
31,2019-06-17,Central,Hermann,Shelli,Desk,5.00,125.000,625.00
32,2019-07-04,East,Martha,Alexander,Video Games,62.00,58.500,3627.00
33,2019-07-21,Central,Hermann,Sigal,Video Games,55.00,58.500,3217.50
34,2019-08-07,Central,Hermann,Shelli,Video Games,42.00,58.500,2457.00
35,2019-08-24,West,Timothy,Stephen,Desk,3.00,125.000,375.00
36,2019-09-10,Central,Timothy,David,Television,7.00,1198.000,8386.00
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.00,225.000,17100.00
38,2019-10-14,West,Douglas,Michael,Home Theater,57.00,500.000,28500.00
39,2019-10-31,Central,Martha,Steven,Television,14.00,1198.000,16772.00
40,2019-11-17,Central,Hermann,Luis,Home Theater,11.00,500.000,5500.00
41,2019-12-04,Central,Hermann,Luis,Home Theater,94.00,500.000,47000.00
42,2019-12-21,Central,Martha,Steven,Home Theater,28.00,500.000,14000.00
43,NaT,NaN,NaN,NaN,NaN,278.00,1125.000,62550.00
44,NaT,NaN,NaN,NaN,NaN,34.75,140.625,7818.75

In [44]:
# Set the search parameters
filename = 'test_data.xlsx'
search_path = '/content/drive/My Drive'

# Search for the file
for root, dirs, files in os.walk(search_path):
    if filename in files:
        file_path = os.path.join(root, filename)
        break

In [48]:
test = pd.read_excel('/test_data.xlsx',sheet_name =1 ,header =None)

In [49]:
test

              0               1               2           3        4
0  sales_man_id  sales_man_name  sales_man_city  product_id  manager
1            11           Ahmed         Karachi         123    Jawed
2            22            Umer          Lahore         123    Jawed
3            33         Huzaifa         Karachi         145    Najam
4            44            Asad          Lahore         567    Najam
5            55         Hussain       Hyderabad         234    Jawed
6            66             Ali       Hyderabad         234   Faisal
7            77           Sadaf          Lahore         567   Faisal
8            88           Kiran         Karachi         345    Najam
9            99             Ali         Karachi         123   Faisal

In [40]:
test1= pd.read_excel('/test_data.xlsx',sheet_name =2)

In [41]:

test1

  sales_man_name Region   Sales  Amount
0           Asad       A    100   100000
1        Hussain       B    300   450000
2            Ali       C    234   125000
3           Sana       D    231   652000
4        Fatima        E    324   145000
5         Kashif       F    123   825000
6         Hassan       G    129   125000
7          Almas       H    345   325600
8          Fahan       I    400   895200

In [50]:
test2= pd.read_excel('/test_data.xlsx',sheet_name =0, header =None)

In [51]:
test2

              0               1               2           3        4
0  sales_man_id  sales_man_name  sales_man_city  product_id  manager
1             1            Asad         Karachi         123    Jawed
2             2          Sumair          Lahore         123    Jawed
3             3          Farjad         Karachi         145    Najam
4             4          Hassan          Lahore         567    Najam
5             5           Nasir       Hyderabad         234    Jawed
6             6          Kashif       Hyderabad         234   Faisal
7             7            Sana          Lahore         567   Faisal
8             8          Fatima         Karachi         345    Najam
9             9        Abdullah         Karachi         123   Faisal

In [56]:
test2= pd.read_excel('/test_data.xlsx', sheet_name =0 ,usecols = ['sales_man_id', 'sales_man_city',	'product_id','manager' ])

In [57]:
test2

   sales_man_id sales_man_city  product_id manager
0             1        Karachi         123   Jawed
1             2         Lahore         123   Jawed
2             3        Karachi         145   Najam
3             4         Lahore         567   Najam
4             5      Hyderabad         234   Jawed
5             6      Hyderabad         234  Faisal
6             7         Lahore         567  Faisal
7             8        Karachi         345   Najam
8             9        Karachi         123  Faisal

In [58]:
# Set the search parameters
filename = 'imdb-top-1000.csv'
search_path = '/content/drive/My Drive'

# Search for the file
for root, dirs, files in os.walk(search_path):
    if filename in files:
        file_path = os.path.join(root, filename)
        break

In [60]:
movies = pd.read_csv('/imdb-top-1000.csv')

In [61]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [68]:
url1 = 'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv'
url2 = 'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv'

In [69]:
url_test = pd.read_csv(url1)

In [70]:
url_test

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0
...,...,...,...,...,...,...
99995,HKZFX556ZQRZJZWR,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-11-06,7516,0
99996,962CSDMAJ49E0CRK,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2018-08-02,442,1
99997,ZW7RO9TLL6EVVJEC,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2014-11-02,8544,0
99998,LNKGIWMZ9RT49IE9,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-04-01,6650,0
99999,X9Y21H4JWX6OGC2Z,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2016-07-27,953,0

In [71]:
url_test2 = pd.read_csv(url2)

In [72]:
url_test2

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,William Taylor,ZTZA0ZLYZR85PTUJ,Melancholy Social-Role,D0AUXPP07H6AVSGD
1,William Taylor,ZTZA0ZLYZR85PTUJ,Pee-Wee Pigeon,TJW99R4RWH02INII
2,William Taylor,ZTZA0ZLYZR85PTUJ,Vaginal 36-Year-Old,3S20IO1O1DYXMUNU
3,William Taylor,ZTZA0ZLYZR85PTUJ,Unhurried Musician'S,FDWW0TQRPGMVI2A7
4,William Taylor,ZTZA0ZLYZR85PTUJ,Comprehensive Lists,C30FY83UNLVBA0O3
...,...,...,...,...
4614,Ida Woodward,LF3CPWWZKSNB1AXI,Unauthorized Increases,654ZMAXSV11BOMMI
4615,Ida Woodward,LF3CPWWZKSNB1AXI,Atom-Like Principle,42AO6UOXN0GXVHFQ
4616,Ida Woodward,LF3CPWWZKSNB1AXI,Congratulatory Economist,4B714VS0FWLGBSMU
4617,Ida Woodward,LF3CPWWZKSNB1AXI,Readable Pilots,G4D892KB5W0UCPR4
4618,Ida Woodward,LF3CPWWZKSNB1AXI,Trade-Preparatory Quarterbacks,APH243SK72T90MPS

Data Cleaning

In [73]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [74]:
movies.shape

(1000, 10)

In [75]:
# all numeric coloumn data
movies.describe()

           Runtime  IMDB_Rating   No_of_Votes         Gross   Metascore
count  1000.000000  1000.000000  1.000000e+03  1.000000e+03  843.000000
mean    122.891000     7.949300  2.736929e+05  1.282781e+08   77.971530
std      28.093671     0.275491  3.273727e+05  2.011110e+08   12.376099
min      45.000000     7.600000  2.508800e+04  1.305000e+03   28.000000
25%     103.000000     7.700000  5.552625e+04  5.012919e+06   70.000000
50%     119.000000     7.900000  1.385485e+05  3.953432e+07   79.000000
75%     137.000000     8.100000  3.741612e+05  1.615997e+08   87.000000
max     321.000000     9.300000  2.343110e+06  9.366622e+08  100.000000

In [76]:
# for all coloumns
movies.describe(include='all')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
count,1000,1000,1000.000000,1000,1000.000000,1000,1000,1.000000e+03,1.000000e+03,843.000000
unique,999,100,NaN,14,NaN,548,660,NaN,NaN,NaN
top,Drishyam,2014,NaN,Drama,NaN,Alfred Hitchcock,Tom Hanks,NaN,NaN,NaN
freq,2,32,NaN,289,NaN,14,12,NaN,NaN,NaN
mean,NaN,NaN,122.891000,NaN,7.949300,NaN,NaN,2.736929e+05,1.282781e+08,77.971530
std,NaN,NaN,28.093671,NaN,0.275491,NaN,NaN,3.273727e+05,2.011110e+08,12.376099
min,NaN,NaN,45.000000,NaN,7.600000,NaN,NaN,2.508800e+04,1.305000e+03,28.000000
25%,NaN,NaN,103.000000,NaN,7.700000,NaN,NaN,5.552625e+04,5.012919e+06,70.000000
50%,NaN,NaN,119.000000,NaN,7.900000,NaN,NaN,1.385485e+05,3.953432e+07,79.000000
75%,NaN,NaN,137.000000,NaN,8.100000,NaN,NaN,3.741612e+05,1.615997e+08,87.000000
max,NaN,NaN,321.000000,NaN,9.300000,NaN,NaN,2.343110e+06,9.366622e+08,100.000000

In [77]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.2+ KB

In [81]:
# Handling Missing Values
movies['Metascore']==Nan

NameError: ignored

In [84]:
# Handling Missing Values
import numpy as np

movies['Metascore']== np.nan

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Metascore, Length: 1000, dtype: bool

In [85]:
movies.isna()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False

In [86]:
movies.isna().sum()

Series_Title       0
Released_Year      0
Runtime            0
Genre              0
IMDB_Rating        0
Director           0
Star1              0
No_of_Votes        0
Gross              0
Metascore        157
dtype: int64

In [87]:
movies[movies["Metascore"].isna()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
20,Soorarai Pottru,2020,153,Drama,8.6,Sudha Kongara,Suriya,54995,556832648.0,NaN
54,Ayla: The Daughter of War,2017,125,Biography,8.4,Can Ulkay,Erdem Can,34112,679278040.0,NaN
55,Vikram Vedha,2017,147,Action,8.4,Gayatri,Pushkar,28401,357599391.0,NaN
57,Dangal,2016,161,Action,8.4,Nitesh Tiwari,Aamir Khan,156479,12391761.0,NaN
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN
...,...,...,...,...,...,...,...,...,...,...
872,The Day the Earth Stood Still,1951,92,Drama,7.7,Robert Wise,Michael Rennie,76315,895071115.0,NaN
874,Gilda,1946,110,Drama,7.7,Charles Vidor,Rita Hayworth,27991,532234536.0,NaN
899,El cuerpo,2012,112,Mystery,7.6,Oriol Paulo,Jose Coronado,57549,140340673.0,NaN
909,Celda 211,2009,113,Action,7.6,Daniel Monzón,Luis Tosar,63882,242105549.0,NaN
913,Die Welle,2008,107,Drama,7.6,Dennis Gansel,Jürgen Vogel,102742,924558264.0,NaN

In [89]:
dropna = movies.dropna()

In [90]:
dropna.isna().sum()

Series_Title     0
Released_Year    0
Runtime          0
Genre            0
IMDB_Rating      0
Director         0
Star1            0
No_of_Votes      0
Gross            0
Metascore        0
dtype: int64

In [91]:
movies_filtered = movies[~(movies["Metascore"].isna())]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0